body{
    background-color: skyblue;
}

/* .container{
    display: flex;
    justify-content: space-between;
} */

.btn{
    height: 50px;
    width: 100px;
   background-color:pink;
   margin: 10px;
}

h1{
    font-size: larger;
    color: blue;
}

.number{
  
}